// Taken from https://flatuicolors.com/palette/de
// red - slightly pink crimson red
$desire: #eb3b5a;
$fusion-red: #fc5c65;

// orange - pretty standard orange
$beniukon-bronze: #fa8231;
$orange-hibiscus: #fd9644;

// yellow - very slightly orange
$nyc-taxi: #f7b731;
$flirtatious: #fed330;

// green - jade like
$algal-fuel: #20bf6b;
$reptile-green: #26de81;

// teal - pretty standard teal, between green/blue hues if not a little more green
$turquoise-topaz: #0fb9b1;
$maximum-blue-green: #2bcbba;

// blue - baby blue
$boyzone: #2d98da;
$high-blue: #45aaf2;

// indigo - royal blue very deep and just barely purple
$royal-blue: #3867d6;
$c64-ntsc: #4b7bec;

// purple - pretty standard purple, but striking hue
$gloomy-purple: #8854d0;
$lighter-purple: #a55eea;

// silver - slightly blueish
$innuendo: #a5b1c2;
$twinkle-blue: #d1d8e0;

// steel/navy - like a highly desaturated navy
$blue-horizon: #778ca3;
$blue-grey: #778ca3;
