@import "../partial-styles/_variables.scss";

$indicator-size: 8px;
$indicator-color: #00f;

.list-cell__container {
  border: 1px solid nth($grey, 9);
  background: OrangeRed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-cell__container--header {
  @extend .list-cell__container;
  background: GreenYellow;
}

.list-cell__label {
  background: Orange;
}

.list-cell__label--detail {
  background: PaleVioletRed;
}

.list-section__header-button {
  width: 100%;
  border: 1px;
  border-radius: $button-radius;
  box-shadow: none;
  font-weight: 600;
}

.list-section__collapse-indicator {
  width: 32px;
}

.collapse-indicator {
  width: 0;
  height: 0;
  margin: $indicator-size / 1.61;
  border-left: $indicator-size solid transparent;
  border-right: $indicator-size solid transparent;
}

.collapse-indicator--down {
  @extend .collapse-indicator;
  border-top: $indicator-size solid $indicator-color;
}

.collapse-indicator--up {
  @extend .collapse-indicator;
  border-bottom: $indicator-size solid $indicator-color;
}
