@import "../global-styles/_variables.scss";

.list-cell__container {
  border: 1px solid nth($grey, 9);
  background: $yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: nth($grey, 1);
}

.header-cell__container {
  @extend .list-cell__container;
  background: $red-bright;

}

:focus {
  outline: 0px solid red;
}

.header-cell__text {
}

.header-cell__text--detail {
}

