@import "../global-styles/_variables.scss";

.list-cell {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  border: 1px solid nth($grey, 9);
  background: $yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: nth($grey, 1);
}

.header-cell {
  @extend .list-cell;
  background: $red-bright;

}

:focus {
  outline: 0px solid red;
}

.header-cell--collapsed {
  @extend .header-cell;
}

.header-cell__text {
}

.header-cell__text--detail {
}

