@import "../global-styles/_flat-ui-de.scss";

.list__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.list-section__container {
  @extend .list__container;
}
