@import "../partial-styles/_variables.scss";

$indicator-size: 8px;
$indicator-color: #00f;

.list-cell__container {
  border: 1px solid nth($grey, 9);
  background: OrangeRed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-cell__container {
  @extend .list-cell__container;
  background: GreenYellow;

}

.header-cell__text {
}

.header-cell__text--detail {
}

.list-section__collapse-indicator {
  width: 32px;
}

.collapse-indicator {
  width: 0;
  height: 0;
  margin: $indicator-size / 1.61;
  border-left: $indicator-size solid transparent;
  border-right: $indicator-size solid transparent;
}

.collapse-indicator--down {
  @extend .collapse-indicator;
  border-top: $indicator-size solid $indicator-color;
}

.collapse-indicator--up {
  @extend .collapse-indicator;
  border-bottom: $indicator-size solid $indicator-color;
}
